body {
  margin: 0;
  overflow: hidden;
    .register {
        background-color: #ffffff;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
      }
      
      .register .div {
        background-color: #9BCCFA;
        width: 744px;
        height: 1133px;
        position: relative;
      }
      
      .register .overlap {
        position: relative;
        width: 744px;
        height: 740px;
        top: 0;
        left: 0;
        background-image: url(./IMAGENS/BlurFundo.png);
        background-size: 100% 100%;
      }
      
      .register .group {
        position: absolute;
        width: 377px;
        height: 377px;
        top: 171px;
        left: 183px;
        background-color: #225fff;
        border-radius: 188.5px;
      }
      
      .register .LOGO {
        position: absolute;
        width: 332px;
        height: 332px;
        top: 22px;
        left: 23px;
      }
      
      .register .text-wrapper {
        position: absolute;
        width: 277px;
        top: 674px;
        left: 234px;
        font-family: "League Spartan-Bold", Helvetica;
        font-weight: 700;
        color: #ffffff;
        font-size: 40px;
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;
      }
      
      .register .sobrevidas-CB {
        position: absolute;
        width: 530px;
        height: 142px;
        top: 28px;
        left: 107px;
        font-family: "Bitter-Bold", Helvetica;
        font-weight: 700;
        color: transparent;
        font-size: 60px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
      }
      
      .register .span {
        color: #ffffff;
      }
      
      .register .text-wrapper-2 {
        color: #000000;
      }
      
      .register .text-wrapper-3 {
        color: #9BCCFA;
      }
      
      .register .digite-seu-email {
        position: absolute;
        top: 738px;
        left: 203px;
        font-family: "League Spartan-SemiBold", Helvetica;
        font-weight: bold;
        color: #0215c4;
        font-size: 20px;
        text-align: center;
        letter-spacing: 0;
        line-height: 20px;
        white-space: nowrap;
      }
      
      .register .text-wrapper-4 {
        font-family: "League Spartan-SemiBold", Helvetica;
        font-weight: bold;
        color: #0215c4;
        font-size: 20px;
        letter-spacing: 0;
        line-height: 20px;
      }
      
      .register .overlap-group {
        position: absolute;
        width: 302px;
        height: 45px;
        top: 772px;
        left: 220px;
      }
      
      .register .overlap-group-wrapper {
        position: absolute;
        width: 302px;
        height: 45px;
        top: 0;
        left: 0;
      }
      
      .register .digite-seu-email-wrapper {
        position: relative;
        margin-top: 18px;
        width: 300px;
        height: 45px;
        background-image: url(./img/group-98.png);
        background-size: 100% 100%;
      }
      
      .register .p {
        position: absolute;
        top: -7px;
        left: 40px;
        font-family: "League Spartan-Light", Helvetica;
        font-weight: 300;
        color: #000000;
        font-size: 20px;
        text-align: center;
        letter-spacing: 0;
        line-height: 20px;
        white-space: nowrap;
      }
      
      .register .text-wrapper-5 {
        font-family: "League Spartan-Light", Helvetica;
        font-weight: 300;
        color: #000000;
        font-size: 20px;
        letter-spacing: 0;
        line-height: 20px;
      }
      
      .register .vector {
        position: relative;
        width: 17px;
        height: 16px;
        top: 33px;
        left: 15px;
      }
      
      .register .botao-entrar {
        display: flex;
        margin-top: 5px;
        width: 350px;
        align-items: center;
        justify-content: center;
        gap: 14px;
        padding: 14px;
        position: absolute;
        top: 876px;
        left: 195px;
        background-color: #0215c4;
        border-radius: 34px;
        box-shadow: 0px 4px 8px #00000040;
      }
      
      .register .text-wrapper-6 {
        position: relative;
        width: fit-content;
        margin-top: -1px;
        font-family: "Source Sans Pro-Black", Helvetica;
        font-weight: 900;
        color: #ffffff;
        font-size: 30px;
        letter-spacing: 0;
        line-height: normal;
      }
      
      .register .text-wrapper-7 {
        position: absolute;
        top: 845px;
        left: 473px;
        font-family: "League Spartan-SemiBold", Helvetica;
        font-weight: 600;
        color: #0215c4;
        font-size: 20px;
        letter-spacing: 0;
        line-height: normal;
        text-decoration: underline;
        white-space: nowrap;
      }
      
}